@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
body section.header-section {
  display: flex;
  align-items: center;
  background: rgba(46, 46, 46, 0.7) url("https://slcm.keralauniversity.ac.in/static/assets/img/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}
body section.header-section .heading-section {
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;
  border: 2px solid #445ede;
  border-radius: 15px;
}
body section.header-section .heading-section h2,
body section.header-section .heading-section p {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 20px white;
}
body section.body-section .toggle-div .buttons {
  display: flex;
  justify-content: space-between;
}
body section.body-section .toggle-div button.btn-more .toggle-btn {
  align-items: center;
}
body section.body-section .toggle-div button.btn-more p {
  margin-bottom: 0;
}
body section.body-section .toggle-div button.btn-more:hover {
  border: none;
}
body section.body-section .toggle-div button.btn-more:hover .toggle-btn {
  transform: scale(1.1);
  transition: 0.2s;
}
body section.body-section .toggle-div button.btn-more:focus {
  border: none;
}
body section.body-section .toggle-div button.btn-settings .toggle-btn {
  align-items: center;
}
body section.body-section .toggle-div button.btn-settings .toggle-btn p {
  margin-bottom: 0;
}
body section.body-section .toggle-div button.btn-settings:hover {
  border: none;
}
body section.body-section .toggle-div button.btn-settings:hover .toggle-btn {
  transform: scale(1.1);
  transition: 0.2s;
}
body section.body-section .toggle-div button.btn-settings:focus {
  border: none;
}
body section.body-section .toggle-div .offcanvas-header {
  background: url("https://slcm.keralauniversity.ac.in/static/assets/img/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body section.body-section .toggle-div .offcanvas-header .sidebar-header {
  margin: 0 auto;
}
body section.body-section .toggle-div .offcanvas-header button {
  background-color: white;
  border-radius: 50%;
}
body section.body-section .toggle-div .offcanvas-body-more {
  padding-top: 1rem;
}
body section.body-section .toggle-div .offcanvas-body-more a {
  text-decoration: none;
  color: black;
}
body section.body-section .toggle-div .offcanvas-body-more .tab:hover p.main {
  transform: translateX(0.5rem);
  transition: 0.2s;
  color: #445ede;
}
body section.body-section .toggle-div .offcanvas-body-more .tab:hover i {
  color: #445ede;
  transition: 0.2s;
}
body section.body-section .toggle-div .offcanvas-body-more .tab-x:hover p {
  transform: translateX(0.5rem);
  transition: 0.2s;
  color: #445ede;
}
body section.body-section .toggle-div .offcanvas-body-more .tab-x:hover i {
  color: #445ede;
  transition: 0.2s;
}
body section.body-section .toggle-div .offcanvas-body-more .tab {
  align-items: center;
}
body section.body-section .toggle-div .offcanvas-body-more .tab p {
  margin-bottom: 0;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item {
  border: none;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item .accordion-button:not(.collapsed) {
  color: black;
  border: none;
  box-shadow: none;
  background: none;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item .accordion-button:focus {
  box-shadow: none;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item button .accordion-btn-div {
  align-items: center;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item .accordion-body a .tab-sub {
  align-items: center;
  padding-left: 1rem;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item .accordion-body a .tab-sub i {
  color: rgb(167, 167, 167);
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item .accordion-body a .tab-sub:hover i {
  color: #445ede;
  transition: 0.2s;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item .accordion-body a .tab-sub:hover p {
  transition: 0.2s;
  color: #445ede;
}
body section.body-section .toggle-div .offcanvas-body-more .tab-x {
  align-items: center;
  margin: 0.8rem 1.2rem;
}
body section.body-section .toggle-div .offcanvas-body-more .tab-x p {
  margin-bottom: 0;
}
body section.body-section .toggle-div .offcanvas-body-settings .border-div {
  background-color: rgb(179, 179, 179);
  height: 1px;
  width: 90%;
  margin: 0 auto;
}
body section.body-section .toggle-div .offcanvas-body-settings a {
  text-decoration: none;
  color: black;
}
body section.body-section .toggle-div .offcanvas-body-settings a .settings-tab {
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
}
body section.body-section .toggle-div .offcanvas-body-settings a .settings-tab p {
  margin-bottom: 0;
}
body section.body-section .toggle-div .offcanvas-body-settings a .settings-tab:hover p,
body section.body-section .toggle-div .offcanvas-body-settings a .settings-tab:hover i {
  color: #445ede;
  transition: 0.2s;
}
body section.reset-pass .reset .heading h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto;
}
body section.reset-pass .reset .heading .border {
  width: 50%;
  height: 3px;
  background-color: grey;
  border-radius: 15px;
  margin: 0 auto;
}
body section.reset-pass .reset .heading a {
  text-decoration: none;
  color: #445ede;
}
body section.reset-pass .reset .heading a .dash {
  align-items: center;
  justify-content: end;
  margin: 0 2rem;
}
body section.reset-pass .reset .heading a .dash p {
  margin-bottom: 0;
}
body section.reset-pass .reset .heading a .dash:hover i {
  transform: translateX(0.4rem);
  transition: 0.2s;
}
body section.reset-pass .reset .content form {
  margin: 1rem 0;
}
body section.reset-pass .reset .content form .form-floating {
  width: 50%;
  margin: 0 auto;
}
body section.reset-pass .reset .content .submit {
  margin-top: 5rem;
}
body section.reset-pass .reset .content .submit .cancel-btn a, body section.reset-pass .reset .content .submit .save-btn a {
  margin: 0 auto;
}
body section.reset-pass .reset .content .submit .cancel-btn a button, body section.reset-pass .reset .content .submit .save-btn a button {
  border-radius: 10px;
  padding: 0.3rem 0.8rem;
}
body section.reset-pass .reset .content .submit .cancel-btn a button:hover, body section.reset-pass .reset .content .submit .save-btn a button:hover {
  transition: 0.2s;
  transform: translateY(-2px);
}
body section.reset-pass .reset .content .submit .cancel-btn {
  text-align: end;
}
body section.reset-pass .reset .content .submit .cancel-btn a button {
  color: #000;
  background: transparent;
}
body section.reset-pass .reset .content .submit .cancel-btn a button:hover {
  color: #fff;
  background: rgb(202, 0, 0);
  transition: 0.2s;
}
body section.reset-pass .reset .content .submit .save-btn {
  text-align: start;
}
body section.reset-pass .reset .content .submit .save-btn a button {
  color: #000;
  background: transparent;
}
body section.reset-pass .reset .content .submit .save-btn a button:hover {
  color: #fff;
  background: rgb(41, 41, 255);
  transition: 0.2s;
}

@media screen and (max-width: 767px) {
  .content .submit {
    margin-top: 1rem !important;
  }
  .content .submit .cancel-btn, .content .submit .save-btn {
    text-align: center !important;
    margin: 0.5rem 0;
  }
}/*# sourceMappingURL=reset-password.css.map */