@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
body section.header-section {
  display: flex;
  align-items: center;
  background: rgba(46, 46, 46, 0.7) url("https://slcm.keralauniversity.ac.in/static/assets/img/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}
body section.header-section .heading-section {
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;
  border: 2px solid #445ede;
  border-radius: 15px;
}
body section.header-section .heading-section h2,
body section.header-section .heading-section p {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 20px white;
}
body section.body-section .toggle-div .buttons {
  display: flex;
  justify-content: space-between;
}
body section.body-section .toggle-div button.btn-more .toggle-btn {
  align-items: center;
}
body section.body-section .toggle-div button.btn-more p {
  margin-bottom: 0;
}
body section.body-section .toggle-div button.btn-more:hover {
  border: none;
}
body section.body-section .toggle-div button.btn-more:hover .toggle-btn {
  transform: scale(1.1);
  transition: 0.2s;
}
body section.body-section .toggle-div button.btn-more:focus {
  border: none;
}
body section.body-section .toggle-div button.btn-settings .toggle-btn {
  align-items: center;
}
body section.body-section .toggle-div button.btn-settings .toggle-btn p {
  margin-bottom: 0;
}
body section.body-section .toggle-div button.btn-settings:hover {
  border: none;
}
body section.body-section .toggle-div button.btn-settings:hover .toggle-btn {
  transform: scale(1.1);
  transition: 0.2s;
}
body section.body-section .toggle-div button.btn-settings:focus {
  border: none;
}
body section.body-section .toggle-div .offcanvas-header {
  background: url("https://slcm.keralauniversity.ac.in/static/assets/img/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body section.body-section .toggle-div .offcanvas-header .sidebar-header {
  margin: 0 auto;
}
body section.body-section .toggle-div .offcanvas-header button {
  background-color: white;
  border-radius: 50%;
}
body section.body-section .toggle-div .offcanvas-body-more {
  padding-top: 1rem;
}
body section.body-section .toggle-div .offcanvas-body-more a {
  text-decoration: none;
  color: black;
}
body section.body-section .toggle-div .offcanvas-body-more .tab:hover p.main {
  transform: translateX(0.5rem);
  transition: 0.2s;
  color: #445ede;
}
body section.body-section .toggle-div .offcanvas-body-more .tab:hover i {
  color: #445ede;
  transition: 0.2s;
}
body section.body-section .toggle-div .offcanvas-body-more .tab-x:hover p {
  transform: translateX(0.5rem);
  transition: 0.2s;
  color: #445ede;
}
body section.body-section .toggle-div .offcanvas-body-more .tab-x:hover i {
  color: #445ede;
  transition: 0.2s;
}
body section.body-section .toggle-div .offcanvas-body-more .tab {
  align-items: center;
}
body section.body-section .toggle-div .offcanvas-body-more .tab p {
  margin-bottom: 0;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item {
  border: none;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item .accordion-button:not(.collapsed) {
  color: black;
  border: none;
  box-shadow: none;
  background: none;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item .accordion-button:focus {
  box-shadow: none;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item button .accordion-btn-div {
  align-items: center;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item .accordion-body a .tab-sub {
  align-items: center;
  padding-left: 1rem;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item .accordion-body a .tab-sub i {
  color: rgb(167, 167, 167);
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item .accordion-body a .tab-sub:hover i {
  color: #445ede;
  transition: 0.2s;
}
body section.body-section .toggle-div .offcanvas-body-more .tab .accordion-item .accordion-body a .tab-sub:hover p {
  transition: 0.2s;
  color: #445ede;
}
body section.body-section .toggle-div .offcanvas-body-more .tab-x {
  align-items: center;
  margin: 0.8rem 1.2rem;
}
body section.body-section .toggle-div .offcanvas-body-more .tab-x p {
  margin-bottom: 0;
}
body section.body-section .toggle-div .offcanvas-body-settings .border-div {
  background-color: rgb(179, 179, 179);
  height: 1px;
  width: 90%;
  margin: 0 auto;
}
body section.body-section .toggle-div .offcanvas-body-settings a {
  text-decoration: none;
  color: black;
}
body section.body-section .toggle-div .offcanvas-body-settings a .settings-tab {
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
}
body section.body-section .toggle-div .offcanvas-body-settings a .settings-tab p {
  margin-bottom: 0;
}
body section.body-section .toggle-div .offcanvas-body-settings a .settings-tab:hover p,
body section.body-section .toggle-div .offcanvas-body-settings a .settings-tab:hover i {
  color: #445ede;
  transition: 0.2s;
}
body section.bio-section .bio {
  box-shadow: 1px 1px 20px grey;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem auto;
  margin-bottom: 2rem;
  width: 90%;
}
body section.bio-section .bio .heading h3 {
  text-align: center;
  color: #445ede;
}
body section.bio-section .bio .heading a {
  text-decoration: none;
  color: black;
}
body section.bio-section .bio .heading a .edit {
  justify-content: end;
}
body section.bio-section .bio .heading a:hover {
  color: #445ede;
  transition: 0.2s;
}
body section.bio-section .bio .heading a:hover .edit p {
  transform: translateX(0.2rem);
  transition: 0.2s;
}
body section.bio-section .bio .image {
  text-align: center;
}
body section.bio-section .bio .details {
  border-top: 2px solid grey;
  padding: 2rem 0;
}
body section.bio-section .bio .details p {
  margin-bottom: 0;
  text-align: center;
}
body section.bio-section .bio .details i {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}
body section.bio-section .bio .details .each:hover i, body section.bio-section .bio .details .each:hover p {
  color: #445ede;
  transition: 0.2s;
}
body section.bio-section .bio .details .each:hover i {
  transform: scale(1.2);
  transition: 0.2s;
}
body section.other-details-section .other-details .academic-info {
  box-shadow: 1px 1px 25px grey;
  border-radius: 15px;
  width: 30rem;
  margin: 2rem auto;
}
body section.other-details-section .other-details .academic-info .heading h5 {
  text-align: center;
  padding: 1.5rem 0;
}
body section.other-details-section .other-details .academic-info .content .row p {
  text-align: center;
  color: #445ede;
  margin-bottom: 0;
  margin: 0.5rem 0;
}
body section.other-details-section .other-details .academic-info .content .row .border {
  background-color: grey;
  border-radius: 10px;
  height: 3px;
  margin: 0.5rem auto;
}
body section.other-details-section .other-details .fee-concession {
  box-shadow: 1px 1px 25px grey;
  border-radius: 15px;
  width: 30rem;
  margin: 2rem auto;
}
body section.other-details-section .other-details .fee-concession .heading h5 {
  text-align: center;
  padding: 1.5rem 0;
}
body section.other-details-section .other-details .fee-concession .content .row p {
  text-align: center;
  color: #445ede;
  margin-bottom: 0;
  margin: 0.5rem 0;
}
body section.other-details-section .other-details .fee-concession .content .row .border {
  background-color: grey;
  border-radius: 10px;
  height: 3px;
  margin: 0.5rem auto;
}
body section.other-details-section .other-details .address {
  box-shadow: 1px 1px 25px grey;
  border-radius: 15px;
  width: 30rem;
  margin: 2rem auto;
}
body section.other-details-section .other-details .address .heading h5 {
  text-align: center;
  padding: 1.5rem 0;
}
body section.other-details-section .other-details .address .content .row p {
  text-align: center;
  color: #445ede;
}
body section.other-details-section .other-details .address .content .row p.add {
  text-align: start;
}
body section.other-details-section .other-details .address .content .border {
  display: none;
}
body section.other-details-section .other-details .emergency {
  box-shadow: 1px 1px 25px grey;
  border-radius: 15px;
  width: 30rem;
  margin: 2rem auto;
}
body section.other-details-section .other-details .emergency .heading h5 {
  text-align: center;
  padding: 1.5rem 0;
}
body section.other-details-section .other-details .emergency .content p {
  text-align: center;
  color: #445ede;
  margin-bottom: 0;
}
body section.other-details-section .other-details .emergency .content .border {
  background-color: grey;
  border-radius: 10px;
  height: 3px;
  margin: 0.5rem auto;
}

@media screen and (max-width: 530px) {
  section.other-details-section .other-details .academic-info,
section.other-details-section .other-details .fee-concession,
section.other-details-section .other-details .address,
section.other-details-section .other-details .emergency {
    width: 90% !important;
  }
}
@media screen and (max-width: 1200px) {
  section.other-details-section .other-details .academic-info,
section.other-details-section .other-details .fee-concession,
section.other-details-section .other-details .address,
section.other-details-section .other-details .emergency {
    margin: 1rem !important;
  }
}
@media screen and (max-width: 767px) {
  section.other-details-section .other-details .address .content p.add {
    text-align: center !important;
  }
  section.other-details-section .other-details .address .content .border {
    display: block !important;
    height: 3px;
    background-color: grey;
    border-radius: 15px;
    width: 80%;
    margin: 0.5rem auto;
  }
  section.other-details-section .other-details .emergency .content p {
    margin-bottom: 1rem !important;
  }
}/*# sourceMappingURL=view-profile.css.map */